:root {
    --primari-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primari-white-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --cubik: cubic-bezier(0.4, 0, 0.2, 1);
  }

  $mobile: 479.98px;
  $tablet: 767.98px;
  $desctop:1199.98px;