.section-hero {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mobile/hero1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  @media screen and(min-width:$desctop) {
   
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600px;
  }
  @media screen and(min-width:$mobile) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tablet/hero1x.jpg");
  }
  @media screen and(min-width:$tablet) {
 
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desctop/fon.jpg");
  }
}
@media screen and(max-width:$mobile) {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile/hero2x.jpg");
    }
  }
}
@media screen and(min-width:$mobile) {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image:linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
       url("../images/tablet/hero2x.jpg");
    }
  }
}
@media screen and(min-width:$tablet) {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image:linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
       url("../images/desctop/fon2x.jpg");
    }
  }
}

.section-hero__title {
  font-family: "Roboto";
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  color: var(--primari-white-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  @media screen and(max-width:$desctop) {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.section-hero__button {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: var(--primari-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
